* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 40px 20px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    background-color: #f5f7fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.header {
    max-width: 1200px;
    background-color: #1C3B4F;
}

nav>ul>li {
    list-style: none;
}

.menu-links {
    text-decoration: none;
    color: #ff6b08;
    font-size: 28px;
    font-weight: 700;
}

.menu-links:hover {
    color: white;
    transition: 0.5s all ease;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    align-items: center;
}

.wrapper {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    background-color: #000;
}

.myphoto {
    width: 370px;
}

.about-me {
    padding: 80px;
}

.contacts {
    margin: 60px 40px;
}

.contacts h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.contacts a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    transition: all 0.5s ease;
}

.contacts a:hover {
    color: #5f5a5a;
}

.contacts span {
    margin-right: 2px;
    margin-left: 2px;
}

.skills {
    margin: 55px 40px 0px 40px;
}

.skills h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.skills li {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #e4630e;
}

.skills li span {
    color: #ffffff;
}

.soft-skills h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.soft-skills li {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #e4630e;
}

.soft-skills li span {
    color: #ffffff;
}

.name {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.profession {
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.description {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.projects-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    transition: all 0.3s ease;
}

.projects-link:hover {
    color: #ff6b08;
}

.tech-name {
    font-weight: 400;
    line-height: 24px;
}

.dots {
    font-weight: 100;
    color: #d3d3d3;
}

.project-item {
    margin-left: 17px;
    font-size: 14px;
    color: #595959;
}

.projects-container {
    margin-bottom: 55px;
}

.experience-title {
    margin-bottom: 10px;
}

.profession-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.profession-company {
    color: #ff6b08;
}

.profession-period {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}

.profession-divider {
    color: #000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession-duties-item {
    margin-left: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.education {
    margin-bottom: 30px;
}

hr {
    margin-bottom: 20px;
    color: rgb(201, 201, 201);
}

.education-title-university {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff6b08;
}

.education-title-specialization {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.education-period {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}

.education-divider {
    color: #000;
}

.education {
    margin-top: 20px;
}

.courses {
    margin-bottom: 10px;
    font-size: 16px;
}

.courses-period {
    color: #ff6b08;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 10px 0;
    color: #fff;
    background-color: #1C3B4F;
}

footer div {
    margin: 10px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ff6b08;
    transition: 0.5s all ease;
}