* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f7fa;
    padding: 40px 20px;
    text-align: justify;
}

.container {
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.wrapper {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
}

.myphoto {
    width: 370px;
}

.about-me {
    padding: 110px 90px;
}

.contacts {
    margin: 60px 40px;
}

.contacts h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.contacts a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    transition: all 0.5s ease;
}

.contacts a:hover {
    color: #5f5a5a;
}

.contacts span {
    margin-right: 2px;
    margin-left: 2px;
}

.skills {
    margin: 55px 40px 0px 40px;
}

.skills h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.skills li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #e4630e;
}

.skills li span {
    color: #ffffff;
}

.soft-skills h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.soft-skills li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #e4630e;
}

.soft-skills li span {
    color: #ffffff;
}

.name {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.profession {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 23px;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    color: #595959;
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.projects-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #d3d3d3;
    font-weight: 100;
}

.project-item {
    margin-left: 17px;
    color: #595959;
    font-size: 14px;
}

.projects-container {
    margin-bottom: 55px;
}

.experience-title {
    margin-bottom: 10px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
    color: #ff6b08;
}

.profession-period {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divider {
    color: #000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession-duties-item {
    color: #595959;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 17px;
}

.education-title-university {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
}

.education-title-specialization {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
}

.education-period {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.education-divider {
    color: #000;
}

.education {
    margin-top: 20px;
}

footer {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #1C3B4F;
    color: #fff;
}

footer div {
    margin: 10px 0;
}

footer a {
    color: #fff;
}